.first-screen {
  padding: rem(100);

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: rem(20);
    height: 100%;
    width: 100%;
  }

  &__left {
    width: rem(550);
    height: 100%;
  }

  &__right {
    width: rem(550);
    height: 100%;
  }
}