.third-screen {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: rem(20);
    height: 100%;
    width: 100%;
  }

  &__left {
    width: rem(1000);
    height: rem(150);
    padding: rem(20);
    border-radius: rem(20);
  }

  &__block {
    width: rem(600);
  }
}