<section class="section total-screen first-screen">
  <div class="first-screen__wrapper">
    <div class="card first-screen__left">
      <h3 class="heading">Lorem, ipsum dolor.</h3>
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus omnis optio, beatae labore minus quia vero
        consectetur quasi exercitationem architecto, inventore voluptate quaerat ad eos maiores quas distinctio
        reiciendis officia, molestiae maxime. Sapiente ipsum in quasi! Animi ad in odio minus alias nihil amet incidunt
        totam commodi iure saepe asperiores voluptas ipsam quos eligendi aperiam inventore possimus voluptatum, dolorum
        qui autem eius dolores magnam?
        <br>
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi sapiente nulla itaque iste laborum provident
        nam error? Perferendis sequi unde labore reiciendis distinctio id iure, nam, minus debitis laborum sapiente! In
        consequatur dolore eos magnam.
      </p>
    </div>
    <div class="card first-screen__right">
      <h3 class="heading">Lorem, ipsum dolor.</h3>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores reiciendis nisi dolorem exercitationem quidem,
        quisquam soluta eum, reprehenderit quam veritatis suscipit eveniet voluptates quos recusandae sed maxime
        voluptatum facilis repudiandae, eos et consequatur facere aliquid quis doloremque. Iusto alias necessitatibus,
        animi mollitia aspernatur ea nihil iste repudiandae pariatur, accusamus est, dicta nemo quae aliquid neque
        corrupti officiis eum illum aperiam! Accusantium sapiente culpa, eveniet perspiciatis excepturi nobis? Non ut
        libero ipsum amet fugiat maxime beatae error, doloribus, voluptate ipsa autem culpa optio ea accusamus dolorem
        molestiae nostrum! Harum neque est cum, debitis dicta voluptate inventore quaerat, iste cumque fuga sunt
        similique quam. Saepe iste eligendi libero, perferendis et incidunt! Sunt dolore minus saepe odio asperiores
        vitae quis, assumenda repellat!
      </p>
    </div>
  </div>
</section>