<section class="section total-screen second-screen">
  <div class="second-screen__wrapper">
    <div class="card second-screen__block">
      <h2 class="heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, perspiciatis!</h2>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias earum recusandae ipsa
        nisi. Amet voluptates dolorem debitis, ratione temporibus aliquid cupiditate optio sapiente consequatur
        laboriosam blanditiis voluptatum facere eum nam commodi error fugit odit quos dicta fuga, labore molestiae
        distinctio! Placeat dicta mollitia voluptates illo quae consequatur, harum quibusdam sit perferendis ut eos,
        odio facilis laboriosam repellendus unde assumenda doloribus!
        <br>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci facere repellendus velit? Reprehenderit
        temporibus unde in cum quidem? Animi soluta maxime quos tempore iste at! Sequi nesciunt in natus eos dicta ab
        quis perferendis fugit consectetur doloribus quia quam ullam voluptate aspernatur, eveniet modi rerum temporibus
        nihil aliquam aperiam praesentium perspiciatis distinctio. Consequuntur at quidem quos laudantium rem. Provident
        excepturi non debitis placeat atque ea nemo rerum libero? Fugit quo quis molestias, temporibus voluptatibus
        alias, iste rerum eveniet magni nobis perspiciatis delectus dolorem, corporis obcaecati. Temporibus natus nam
        rerum perspiciatis veritatis libero nemo, suscipit sed! Neque nobis alias dolorem reprehenderit!
      </p>
    </div>
  </div>
</section>